<div class="container">
  <h2>Update your account</h2>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="input-group">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :username,
                    required: false,
                    input_html: { autocomplete: "new-username" } %>
        <%= f.input :age,
                    required: false,
                    input_html: { autocomplete: "new-age" } %>
        <%= f.input :description,
                    required: false,
                    input_html: { autocomplete: "new-description" } %>
        <%= f.input :tags,
                    collection: ['Baseball', 'Basketball', 'Boxing', 'Cycling', 'eSports',
                                'Football', 'Gymnastics', 'Hockey', 'Martial', 'Arts', 'Soccer',
                                'Tennis', 'Volleyball', 'Pop', 'Alternative', 'Ballads/Romantic', 'Blues', 'Chanson',
                                'Francaise', 'Classical', 'Country', 'Dance/Electronic', 'Folk',
                                'Hip-Hop/Rap', 'Jazz', 'Latin', 'Metal', 'R&B', 'Reggae', 'Religious', 'Rock', 'Comedy',
                                'Cultural', 'Dance', 'Fashion', 'Magic', 'Music', 'Opera', 'Puppetry', 'Theatre'],
                    as: :check_boxes,
                    input_html: { class: "tag-selector" },
                    item_wrapper_class: 'tag-item',
                    required: false %>
        <%= f.input :photos,
                    as: :file,
                    input_html: { multiple: true } %>
        <%= f.input :password,
                    required: false,
                    hint: "Leave blank if you don't want to change your password",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    hint: "Leave blank if you don't want to change your password",
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "We need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
      </div>

      <div>
        <%= f.button :submit, "Update" %>
        <%= link_to "Back", my_profile_path, class: 'btn' %>
      </div>
    <% end %>

    <%# <h3>Cancel my account</h3>

    <div class="d-flex align-items-center">
      <div>Unhappy?</div>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-link" %>
    <%# </div> %>

</div>
