<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" } %>
    <%= f.input :username,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "username" } %>
    <%= f.input :age,
                required: true,
                input_html: { autocomplete: "new-age" } %>
    <%= f.input :description,
                required: true,
                input_html: { autocomplete: "new-description" } %>
    <%= f.input :tags,
                collection: ['Baseball', 'Basketball', 'Boxing', 'Cycling', 'eSports',
                            'Football', 'Gymnastics', 'Hockey', 'Martial', 'Arts', 'Soccer',
                            'Tennis', 'Volleyball', 'Pop', 'Alternative', 'Ballads/Romantic', 'Blues', 'Chanson',
                            'Francaise', 'Classical', 'Country', 'Dance/Electronic', 'Folk',
                            'Hip-Hop/Rap', 'Jazz', 'Latin', 'Metal', 'R&B', 'Reggae', 'Religious', 'Rock', 'Comedy',
                            'Cultural', 'Dance', 'Fashion', 'Magic', 'Music', 'Opera', 'Puppetry', 'Theatre'],
                as: :check_boxes,
                input_html: { class: "tag-selector" },
                item_wrapper_class: 'tag-item',
                required: true %>
    <%= f.input :photos,
                as: :file,
                input_html: { multiple: true },
                required: false %>
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
