<div class="text-center">
  <div class="description-card-new">
    <h1>Discussions</h1>
    <p></p>
     <div class="back_conversation_show">
        <a href="/"><%= icon('fa-solid', 'arrow-left-long')%></a>
      </div>
  </div>
</div>


<div class="shows-block-new ">

  <% @conversations.map do |conversation| %>
    <div class="ticket-card-new">

      <a href="/conversations/<%= conversation.id %>"><p>
      <% if conversation.user2.photos.attached? %>
        <%= cl_image_tag conversation.user2.photos.first.key %>
      <% elsif conversation.user2.picture_url? %>
        <%= image_tag conversation.user2.picture_url %>
      <% else %>
        <%= image_tag 'placeholder-avatar.png' %>
      <% end %>
      </p></a>


    </div>
  <% end %>

</div>
