<div class="container-profile-public">
  <div class="profile-photo">
    <% if @user.photos.attached? %>
      <%= cl_image_tag @user.photos.first.key, class: 'profile-public' %>
    <% elsif @user.picture_url? %>
      <%= image_tag @user.picture_url, class: 'profile-public' %>
    <% else %>
      <%= image_tag 'placeholder-avatar.png' %>
    <% end %>
  </div>

  <div class="description-container">
    <div class="description-block">

      <div class="about-me-container">
        <h2>About me</h2>
        <p><%= @user.description %></p>
      </div>

      <div class="interest-card-container">
        <h2>My interests</h2>
        <div class="grid-tag">
          <% @user.tags.each do |tag| %>
            <div class="tag-container">
              <p><%= tag %></p>
            </div>
          <% end %>
        </div>
      </div>

      <div class="show-container">
        <h2>My favourite shows</h2>
        <% if @my_events != nil %>
          <% @my_events.first(2).each do |event| %>
          <div class="ticket-card favorite-show">
            <%= image_tag event.picture_url %>
            <div class="ticket-card-infos">
              <p><%= event.date.strftime("%b %-d") %> <%= event.time.to_i %>h</p>
              <h3><%= event.title %></h3>
              <p><%= event.venue %></p>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="people-btn back-btn">
      <%= link_to "Back to event", :back, class:"nav-link-buy" %>
    </div>

</div>
