<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">

      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">People going 🚀</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <% @users.each do |user| %>
          <div class="wrapper">
            <div class="card-product" id="<%= user.id %>">

              <div class="card-product-image">
              <%= link_to user_path(user) do  %>
                <% if user.photos.attached? %>
                  <%= cl_image_tag user.photos.first.key, class: 'profile-public' %>
                <% elsif user.picture_url? %>
                  <%= image_tag user.picture_url, class: 'profile-public' %>
                <% else %>
                  <%= image_tag 'placeholder-avatar.png' %>
                <% end %>
              <% end %>
              </div>

              <div class="card-product-infos">
                <div class="card-product-name">
                  <h2><%= user.first_name%> <small>, <%= user.age%></small></h2>
                </div>

                <div class="card-product-result">
                      <p class="<%= user.css %>">Score: <%= user.score %></p>
                      <p class="<%= user.css %>"><%= user.match_level %></p>
                </div>

                <div class="card-product-button"
                    data-controller="send-message">
                  <p>
                    <button class="msg-btn"
                            data-send-message-target="button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseMessage<%=user.id %>"
                            aria-expanded="false"
                            aria-controls="collapseExample"
                            >
                      Send a message
                    </button>
                  </p>

                  <div class="collapse" id="collapseMessage<%=user.id %>">

                    <div class="message-card message-card-body"
                          data-send-message-user-id-value="<%= user.id %>">

                      <form
                          data-send-message-target="form"
                          data-action='submit->send-message#sendMessage'
                          action="/events/<%= @event.id %>/connection/<%= user.id %>">
                        <input
                            data-send-message-target="content"
                            type="text"
                            name="content"
                            id="content-card">
                        <input
                            type="submit"
                            id="content-submit">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
