<div class="event-page">
  <div class="events-picture">
    <%= image_tag @event.picture_url %>
  </div>

  <br>

  <div class="events-header">
    <h1><%= @event.title %></h1>
    <p><%= @event.date %></p>
  </div>

  <div class="events-body">
    <h2>Date</h2>
    <p><%= @event.date %><br>

    <h2>Venue</h2>
    <p><%= @event.venue %><br>

    <h2>Address</h2>
    <p><%= @event.address %><br>

  </div>


  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">People going</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>


        <div class="modal-body">
          <% @event.users.each do |user| %>
          <div class="wrapper">
            <div class="card-product">

              <%= link_to user_path(user) do  %>
                <%= image_tag user.picture_url%>
              <% end %>
              <div class="card-product-infos">
                <h2><%= user.first_name%></h2>

                <% @result = 0 %>
                <h2><% user.tags.each do |tag|%></h2>
                      <% if current_user.tags.include?(tag) %>
                          <% @result += 35 %>
                      <% end %>
                    <% end %>
                    <% score = @result %>
                    <% result = case score %>
                      <% when 30...100 then %>
                        <p class="result_total">Score: <%= @result %></p>
                        <p class="result_total">Could be a friend</p>
                      <% when 100...200 then %>
                        <p id="good-score">Score: <%= @result %></p>
                        <p id="good-score">Worth a shot</p>
                      <% when 200...350 then %>
                        <p id="top-score"> Score: <%= @result %></p>
                        <p id="top-score"><strong>SOULMATE ALERT</strong></p>
                      <% else %>
                        <p>Don't try, you have nothing in common</p>
                    <% end %>

              </div>
              <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMessage<%=user.id %>" aria-expanded="false" aria-controls="collapseExample">
                  Send a message
                </button>
              </p>
            </div>
            <div class="collapse" id="collapseMessage<%=user.id %>">
              <div class="message-card message-card-body">
                Write your message
              </div>
            </div>
          </div>
          <% end %>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="event-people-btn">
    <button type="button" class="people-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      See who's going
    </button>
  </div>
</div>


<div class="event-banner-price">

  <div class="event-price">
    <p><%= @event.price %>$</p>
  </div>

  <div data-controller="buy-tickets"
    data-buy-tickets-event-id-value="<%= @event.id %>">
    <button data-action="click->buy-tickets#buyTickets"
            type="button" class="buy-btn"
            data-buy-tickets-target="buyButton">
      Buy a ticket
    </button>
    <button data-action="click->buy-tickets#buyTickets"
            type="button"
            class="buy-btn green"
            data-buy-tickets-target="showButton">
            <%= link_to "See your ticket", my_tickets_path %>
    </button>
  </div>

</div>
