<div class="event-page">
  <div class="events-picture">
    <%= image_tag @event.picture_url %>
  </div>

  <br>

  <div class="events-header">
    <h1><%= @event.title %></h1>
    <h2>By <%= @event.venue %></h2>
  </div>

  <div class="events-body">
    <h2>Date</h2>
    <p><%= @event.date.strftime("%b %-d %Y") %> • <%= @event.time.to_i %>h<br></p>

    <h2>Venue</h2>
    <p><%= @event.venue %><br></p>

    <h2>Address</h2>
    <p><%= @event.address %><br></p>

    <h2>Description</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</p>

  </div>

  <%= render "popupwhosgoing" %>

  <div class="event-people-btn">
    <button type="button" class="people-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      See who's going
    </button>
  </div>
</div>


<div class="event-banner-price">
  <div class="event-price">
    <h2>Starting at</h2>
    <p><%= @event.price.to_i %>$</p>
  </div>

  <div data-controller="buy-tickets"
    data-buy-tickets-event-id-value="<%= @event.id %>">
    <button data-action="click->buy-tickets#buyTickets"
            type="button" class="buy-btn"
            data-buy-tickets-target="buyButton">
      Buy a ticket
    </button>

    <button type="button"
            class="buy-btn green"
            data-buy-tickets-target="showButton">
            <%= link_to "See your ticket", my_tickets_path %>
    </button>
  </div>
</div>
