<div class="event-banner">

  <div class="event-banner-regroup">
    <div class="event-banner-text">
      <h2><%= event.title %></h2>
      <p><%= event.date %><br>
      <%= event.category %></p>
      <div class="event-banner-btn">
        <%= link_to "Get more informations", event_path(event), class:"btn-more-info" %>
      </div>
  </div>

    <div class="event-banner-image">
      <%= image_tag event.picture_url %>
    </div>
</div>
