<div class="event-banner">

  <div class="event-banner-regroup">
    <div class="event-banner-text">
      <h2><%= event.title %></h2>
      <p><%= event.date.strftime("%b %-d") %>, <%= event.time.to_i %>h<br>
      <%= event.category.capitalize %></p>
      <div class="event-banner-btn">
        <%= link_to "Get more informations", event_path(event), class:"btn-more-info" %>
      </div>
  </div>
</div>
