<div class="header-home" data-controller="refresh-markers">

  <div class="title-home">
    <h1><span style="color: #EA4C88">Choose</span> an event</h1>
    <h2> Find a <span style="color: #EA4C88">buddy</span> </h2>
  </div>

  <div class="p-home">
    <p>No more saturday night <strong>alone</strong></p>
    <p>Find a show you <strong>like</strong> with a <strong>buddy</strong> you like</p>
  </div>

  <div class="btn-div-home">
    <button type="button" class="form-control-search" data-bs-toggle="modal" data-bs-target="#modal" data-bs-whatever="@getbootstrap">Where and when do you want to go?</button>
  </div>

  <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true" data-refresh-markers-target="modal">
    <div class="modal-dialog">
      <div class="modal-content" data-refresh-markers-target="form">

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <h1 class="modal-title fs-5" id="exampleModalLabel">Where and when would you like to see a show?</h1>

        <%= form_with url: root_path, method: :get, class: "modal-form" do %>
          <%= submit_tag "Search", class: 'search-btn'%>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control-search",
            placeholder: "Search for a city or an artist"
          %>
          <%= date_field :date,
            params[:date],
            class: "form-control-search",
            placeholder: "Enter a date"
          %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="home-btn-category">

      <div>
        <button class="home-btn-category b-home" id="concerts"
        data-action="click->refresh-markers#passIdToMapController">
        Concerts</button>
      </div>

      <div>
        <button class="home-btn-category b-home" id="theatre"
        data-action="click->refresh-markers#passIdToMapController">
        Theatre</button>
      </div>

      <div>
        <button class="home-btn-category b-home" id="sports"
        data-action="click->refresh-markers#passIdToMapController">
        Sports</button>
      </div>

  </div>

  <%= render "shared/map" %>

</div>
