<div class="shows-container">
    <div class="shows text-center mb-3" id="current-shows">
    <h2>All my tickets</h2>
      <div class="shows-scroll">
        <% @my_tickets.each do |event| %>
          <% unless event.date.before? Date.today %>
            <div class="ticket">
              <%= image_tag event.picture_url %>
              <div class="ticket-infos">
                <p><%= event.date.strftime("%b %-d") %> . <%= event.time.to_i %>h</p>
                <h3><%= event.title %></h3>
                <p><%= event.venue %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>

  <div class="shows text-center mb-3" id="past-shows">
    <h2 style="color:white">Your last shows</h2>
    <div class="shows-scroll">
      <% @my_tickets.each do |event| %>
        <% if event.date.before? Date.today %>
          <div class="ticket">
            <%= image_tag event.picture_url %>
            <div class="ticket-infos">
              <p><%= event.date.strftime("%b %-d") %> . <%= event.time.to_i %>h</p>
              <h3><%= event.title %></h3>
              <p><%= event.venue %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
